<div class="col-lg-4 col-md-6 col-xs-12 dog-thumbnail">
	<a href="<%= url_for(dog) %>">
    <h2 class="dog-name"><%= dog.name %></h2>
    <%= image_tag url_for(dog.images.first), class: "dog-photo img-fluid", alt: "Photo of #{dog.name}" %>
	</a>
	
	<div class="dog-feedback">
			<div class="dog-count"><%= dog_like_count(dog) %></div>
			<div class="dog-like-unlike"><%= dog_like_unlike(dog) %></div>
	</div>
</div>

<% if dog_iteration.index.odd? && dog_iteration.index != 0 %>
	<div class="col-lg-4 col-md-6 col-xs-12 dog-ad">
		<%= image_tag "ad.jpg", class: "dog-ad-image img-fluid" %>
	</div>
<%end%>
